
.div_Sesion
		{
			/* border: 2px solid rgba(153, 153, 153, 0.75);
			 border-radius: 6px;*/

			 border: 3px solid rgba(152, 152, 150, 1.80);
			 /*border-radius: 7px;*/
			-webkit-border-radius: 5px;
			font-family: "Helvetica Neue";


			background-color: ;
			margin-left: 30%;
			margin-right: 30%;
			padding: 2%;
		}

