<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<?php echo link_tag('css/styles_login.css')?>
	<link rel="stylesheet" type="text/css" href="">
	<title>Incio de sesión</title>
</head>

<style>
	


/*@media (min-width: 2px) and (max-width: 167.98px) {*/
	




</style>
<body>
	
	<div id="" class="container">
		<form>
			<div  class=" col-5 div_Sesion">
				<center><h3 class="">Inicio de Sesión</h3></center> 
				<div class="form-group offset-1 col-8 offset-sm-1 col-sm-10">
					<label class="lb_Login col-form-label-lg" for="input_Usuario">Usuario:</label>
					<input type="text" name="input_Usuario" id="input_Usuario" class="form-control">
					<label class="lb_Login col-form-label-lg" for="input_Password">Contraseña:</label>
					<input type="password" name="input_Password" id="input_Password" class="form-control">
					<button id="btn_inicio" class="btn btn-success col-4 offset-8 mt-2 form-control">Iniciar</button>	
					<a href="login/registrar" class="offset-8">Registrarse</a>		
					
				</div>
				
				
				
			</div>
		</form>
	</div>

	



</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
	

	$(function(){

		$("#btn_inicio").click(function(){

			

		});

	});


</script>

</html>