<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Registro</title>
</head>
<body>

	<div class="container">
		<form action="">
			<div class="form-group col-5 offset-4">
				<label for="lb_Nombre">Nombre: </label>
				<input id="lb_Nombre" type="text" class="form-control">
				<label for="lb_ApellidoP">Apellido Paterno</label>
				<input id="lb_ApellidoP" type="text" class="form-control">
				<label for="lb_ApellidoM">Apellido Materno</label>
				<input id="lb_ApellidoM" type="text" class="form-control">
				<label for="lb_Correo">Correo: </label>
				<input id="lb_Correo" type="text" class="form-control">
				<label for="lb_Password">Password: </label>
				<input id="lb_Password" type="password" class="form-control">
				<button id="btn_Registro" class="btn btn-success mt-3 offset-9">Registrar</button>
			</div>
			
		</form>
	</div>


	
</body>
</html>